<?xml version="1.0"?>
<launch>
	<arg name="calibration_config" default="$(find aric_calibration)/scripts/calibration_config.json"/>
	<!---=================================================================================================================================================================-->
	<!-- load tool model -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find aric_calibration)/xacros/hexatac_mitsubishi.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!---=================================================================================================================================================================-->
	<!-- Robot Calibration Node -->
    <node pkg="aric_calibration" type="main.py" name="camera_calibration" output="screen" cwd="node">
		<param name="calibration_config" value="$(arg calibration_config)"/>
    </node>

</launch>
